{var $keyVal = sprintf($keyName, $key)}
{var $sendVal = sprintf($sendName, $key)}
<label>{$key}:</label>
<select name="{$keyVal}">
    {foreach $val as $one}
        <option value="{$one}"{if !empty($_POST[$keyVal]) && $_POST[$keyVal] == $one} selected="selected"{/if}>{$one}</option>
    {/foreach}
</select>
<input name="{$sendVal}" value="1" type="checkbox" class="chk" checked="checked" />